$color : white;
.container {
    display: flex;
    flex-direction: column;
}
.btn-update {
    background-color: #B8860B;
    color: $color;
}
.btn-delete { 
    background-color: #FF6347;
    color: $color;
}
.btn-detail { 
    background-color: blue;
    color: $color;
}
.set-height {
    
}
.name{
    width: 15%;
    height: 40px;
}
.price{
    width: 10%;
    height: 40px;
}
.volume{
    width: 10%;
    height: 40px;
}
.category{
    width: 10%;
    height: 40px;
}
.desc{
    width: 40%;
    height: 40px;
}
