.btn-create {
    background-color: #B8860B;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 20px;
}
.btn-create:hover { 
    color:white
}
.plus-icon { 
    color: white;
    
    font-size: 20px;
}
