// $base-px: 10px;
// .user-container {
//     // color: white;
//     border-radius: $base-p  ;
//     padding: $base-px;
//     display: flex;
//     justify-content: space-around;
//     background-color: aqua;
//     text-align: center;
//     margin-bottom: $base-px;
//     .email {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-weight: 800;
//         flex: 1;
//     }
//     .btn-container { 
//         flex: 2;
//         .btn-ud {
//             margin-right: $base-px;
//         }
//     }
// }
.pagination-container {
    // position: fixed;
    // bottom: 2px;
    margin-top: 100%;
    margin-left:50%;
    transform: translateX(-100%);
}
table { 
    th {
        text-align: center;
    }
    .empty { 
        font-size: 15px;
        margin-left: 50%;
    }
}
